.mian {
  width: 1200px;
  margin: 0 auto;
}
a {
  cursor: pointer;
}
.top {
  background: #fafafa;
  overflow: hidden;
  width: 100%;
  color: #777777;
}
.top .toper {
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
.top .toper .p:hover {
  background: #FFFFFF;
}
.top .toper .p {
  position: relative;
}
.top .toper .p .none-mess2 {
  position: absolute;
  padding: 0 28px 28px 12px;
  top: 32px;
  width: 232px;
  height: 310px;
  background: #FFFFFF;
  overflow: hidden;
  color: black;
  z-index: 44;
  left: -12px;
}
.top .toper .p .none-mess2 ol li {
  float: left;
  color: black;
  padding: 4px 6px;
}
.top .toper .p .none-mess2 ol li:hover {
  background: #ffa500;
  color: #FFFFFF;
}
.top .xia {
  background: url(../img/xia_03.png);
  height: 6px;
  width: 6px;
  display: inline-block;
  position: relative;
  left: 3px;
}
.top .mian .p {
  padding: 7px 20px 9px 11px ;
}
.top ul li {
  float: right;
  margin: 7px 0 6px 0;
}
.top ul li a {
  border-left: 2px solid #c3bcc3;
  padding: 0 18px 0 13px;
}
.top ul li:nth-child(1) span {
  background: url(../img/tu_06.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  top: 3px;
  right: 3px;
}
.top ul li:nth-child(3) span {
  background: url(../img/tu_03.png);
  display: inline-block;
  height: 16px;
  width: 11px;
  position: relative;
  top: 3px;
  right: 3px;
}
.top ol li {
  float: right;
  margin: 7px 15px 6px 0;
}
.nav {
  overflow: hidden;
}
.nav ul li {
  float: left;
  margin: 21px 0 22px 0;
}
.nav ul li:nth-child(1) {
  margin-right: 28px;
}
.nav .search_tips {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 999;
  width: 64px;
  height: 86%;
  background: #f9f9f9;
  text-align: center;
  line-height: 32px;
}
.nav .search_tips span i {
  background: url(../img/xia_03.png);
  display: block;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 14px;
  left: 50px;
}
.nav .search_tips .tab {
  overflow: hidden;
  display: none;
  width: 64px;
  border: 1px solid #dddddd;
}
.nav .search_tips .tab .current {
  line-height: 28px;
  color: #333333;
  background: #ffffff;
  height: 28px;
  padding: 0px 14px 3px;
  margin: 0px;
}
.nav .search-form {
  position: relative;
  background-color: #ffa500;
  height: 36px;
  padding: 3px;
  display: block;
  width: 512px;
  margin-top: 24px;
  margin-left: 60px;
}
.nav .search-form .input-submit {
  height: 36px;
  width: 16%;
  background-color: #ffa500;
  color: #FFFFFF;
}
.nav .search-form .input-text {
  text-indent: 64px;
  line-height: 24px;
  color: #555555;
  width: 82%;
  height: 24px;
  float: left;
  padding: 6px 1%;
  border: 0px none;
}
.nav .search-form ul li {
  margin-right: 14px;
  margin-top: 8px;
}
.nav .shop-cart {
  width: 88px;
  height: 28px;
  background: #f9f9f9;
  margin-top: 26px;
  padding: 13px 0 0 32px;
}
.tu-wrap {
  height: 36px;
  font-size: 14px;
  border-bottom: 2px solid #000000;
}
.tu-wrap .tu-left {
  background: #ffa500;
  color: #FFFFFF;
  width: 250px;
  height: 36px;
  line-height: 36px;
  float: left;
}
.tu-wrap .tu-left span em {
  background: url(../img/tu-left_19.png);
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
  top: 8px;
  left: 10px;
}
.tu-wrap .tu-left span i {
  margin-left: 20px;
}
.tu-wrap ul {
  float: left;
  position: relative;
}
.tu-wrap ul li:nth-child(2):hover ~ .none-mss {
  display: block;
}
.tu-wrap ul li:nth-child(3):hover ~ .none-mss {
  display: block;
}
.tu-wrap ul li {
  float: left;
  font-size: 14px;
  line-height: 36px;
  margin-left: 38px;
}
.tu-wrap ul li a:hover {
  color: #ffa500;
}
.tu-wrap ul .none-mss {
  position: absolute;
  background: #FFFFFF;
  display: none;
  top: 38px;
  font-size: 12px;
  padding: 15px 38px 0 12px;
  width: 980px;
  z-index: 33;
}
.tu-wrap ul .none-mss h3 {
  color: black;
  font-weight: bold;
  margin-left: 18px;
  line-height: 28px;
  border-bottom: 1px solid #C3BCC3;
}
.tu-wrap ul .none-mss .none-mss-first {
  width: 300px;
  z-index: 12;
  color: #bebead;
}
.tu-wrap ul .none-mss .none-mss-first ol li {
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}
.tu-wrap ul .none-mss .none-mss-two {
  width: 300px;
  z-index: 12;
  color: #bebead;
}
.tu-wrap ul .none-mss .none-mss-two ol li {
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}
.tu-wrap ul li:nth-child(1) {
  margin-left: 20px;
}
.big-nav-wraper {
  position: relative;
}
.big-nav-wraper #datu {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.big-nav-wraper #datu li {
  width: 100%;
  height: 100%;
}
.big-nav-wraper .big-nav {
  background: #2b2b2b;
  z-index: 10;
  padding: 14px 16px  22px 19px;
  width: 214px;
  position: relative;
}
.big-nav-wraper .big-nav ul {
  overflow: hidden;
  font-size: 12px;
}
.big-nav-wraper .big-nav ul li {
  float: left;
  margin-left: 5px;
  margin-bottom: 14px;
}
.big-nav-wraper .big-nav ul li a {
  color: #FFFFFF;
}
.big-nav-wraper .big-nav ul li a:hover {
  color: #ffa500;
}
.home-sale-layout {
  overflow: hidden;
}
.home-sale-layout .left-layout {
  width: 989px;
  float: left;
  border-bottom: 1px solid #f0f0f0;
}
.home-sale-layout .tabs-nav {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: transparent transparent #f0f0f0;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-align: center;
}
.home-sale-layout .tabs-nav li {
  background-color: transparent;
  width: 20%;
  height: 40px;
  float: left;
  padding: 0px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.home-sale-layout .tabs-nav li i {
  font-size: 0px;
  line-height: 0;
  display: none;
  width: 0px;
  height: 0px;
  float: right;
  margin-left: -4px;
  border-width: 5px;
  border-style: dashed dashed solid;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 50%;
}
.home-sale-layout .tabs-nav .tabs-selected {
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: #ffa500;
}
.home-sale-layout .tabs-panel {
  width: 989px;
  overflow: hidden;
}
.home-sale-layout .tabs-panel ul {
  width: 990px;
  margin-left: -1px;
  overflow: hidden;
}
.home-sale-layout .tabs-panel ul li {
  width: 197px;
  height: 235px;
  padding: 15px 0px 0px;
  border-left: 1px dotted #f0f0f0;
  float: left;
  overflow: hidden;
}
.home-sale-layout .tabs-panel dl {
  width: 160px;
  margin: 0px auto auto;
  position: relative;
  z-index: 1;
}
.home-sale-layout .tabs-panel dl .goods-name {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 16px;
  width: 160px;
  height: 32px;
  position: absolute;
  z-index: auto;
  top: 164px;
  left: 0px;
  overflow: hidden;
}
.home-sale-layout .tabs-panel dl .goods-price {
  line-height: 20px;
  color: #999999;
  position: absolute;
  z-index: auto;
  top: 200px;
  left: 0px;
}
.home-sale-layout .tabs-panel dl img {
  height: 160px;
  width: 160px;
}
.home-sale-layout .tabs-hide {
  display: none;
}
.home-sale-layout .right-sidebar {
  width: 200px;
  float: right;
  padding-left: 11px;
}
.home-sale-layout .right-sidebar .right {
  float: right;
}
.home-sale-layout .right-sidebar .right .flashnews-box {
  margin-top: 10px;
  width: 196px;
  border: 1px solid #f0f0f0;
}
.home-sale-layout .right-sidebar .right .flashnews-box h3 {
  height: 36px;
  line-height: 36px;
  border-bottom: 0px solid #f0f0f0;
  padding: 0px 10px;
  font-weight: bold;
  background: #f9f9f9;
}
.home-sale-layout .right-sidebar .right .flashnews-box ul {
  overflow: hidden;
  height: 112px;
  padding: 3px 10px;
}
.home-sale-layout .right-sidebar .right .flashnews-box ul li a {
  color: #555555;
  outline: none medium;
  cursor: pointer;
}
.home-sale-layout .right-sidebar .right .flashnews-box ul li a:hover {
  color: #ffa500;
}
.home-sale-layout .right-sidebar .right .ads-box {
  display: block;
  width: 200px;
  margin-top: 10px;
}
.container .container-top {
  overflow: hidden;
}
.container .container-top h2 {
  line-height: 58px;
  color: #616954;
  font-size: 20px;
}
.container .container-top img {
  margin-top: 20px;
  margin-left: 14px;
}
.container .container-middle {
  height: 180px;
}
.container .container-middle ul li a {
  float: left;
  cursor: pointer;
}
.container .container-bottom ul {
  height: 125px;
}
.container .container-bottom ul li {
  float: left;
  cursor: pointer;
}
.container .container-di ul {
  height: 50px;
}
.container .container-di ul li {
  float: left;
  cursor: pointer;
}
.imgester {
  height: 86px;
}
.imgester .imgester-nav ul {
  height: 86px;
  border-bottom: 1px solid #C3BCC3;
}
.imgester .imgester-nav ul li {
  float: left;
  padding: 10px 26px;
  height: 66px;
}
.imgester .imgester-nav ul li a {
  font-size: 13px;
  line-height: 83px;
  margin-left: 28px;
}
.imgester .imgester-nav ul li a.cheng {
  border-right: 1px solid #C3BCC3;
  padding-right: 14px;
  width: 70px;
}
.imgester .imgester-nav ul li a:hover {
  color: #ffac00;
}
.zhu-imager {
  overflow: hidden;
}
.zhu-imager .zhu-imager-top {
  height: 76px;
  border-bottom: 1px solid #60b3ff;
}
.zhu-imager .zhu-imager-top a {
  display: block;
  float: left;
}
.zhu-imager .zhu-imager-top a h1 {
  line-height: 76px;
  font-size: 20px;
  height: 73px;
  border-bottom: 3px solid #60b3ff;
}
.zhu-imager .zhu-imager-top ul {
  overflow: hidden;
  float: right;
}
.zhu-imager .zhu-imager-top ul li {
  float: left;
}
.zhu-imager .zhu-imager-top ul li a {
  line-height: 77px;
  margin-left: 12px;
}
.zhu-imager .zhu-imager-top ul li a:hover {
  color: #ffac00;
}
.mss {
  overflow: hidden;
  border-bottom: 6px solid #f5f5f5;
}
.mss ul li {
  float: left;
  text-align: center;
  margin: 40px 66px 14px 66px;
}
.mss ul li span {
  margin-top: 8px;
  display: block;
}
.mss ul li:nth-child(3) span {
  position: relative;
  right: 10px;
}
#faq {
  border-top: solid 1px #f5f5f5;
  background: #fff;
  padding: 30px 0px;
  width: 100%;
  overflow: hidden;
}
#faq .faq-wrapper {
  overflow: hidden;
}
#faq .faq-wrapper .faq-left {
  width: 250px;
  height: 145px;
  border-right: 1px solid #e4e4e4;
}
#faq .faq-wrapper .faq-left h2 {
  font-size: 16px ;
  color: #000000;
  margin-bottom: 10px;
}
#faq .faq-wrapper .faq-left .faq-con {
  margin-top: 20px;
  padding-left: 80px;
  height: 71px;
  background: url(../img/43.png) no-repeat;
}
#faq .faq-wrapper .faq-left .faq-con h2 {
  color: #ffa542;
  font-size: 20px;
  margin-bottom: 10px;
}
#faq ul {
  width: 678px ;
  height: 135px;
  overflow: hidden;
  float: left;
}
#faq ul li {
  font-size: 12px;
  display: inline;
  float: left;
  padding-left: 30px;
  width: 100px;
}
#faq ul li dl {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
}
#faq ul li dl dt {
  font-size: 15px;
  display: block;
  color: #956666;
}
#faq ul li dl dd {
  line-height: 24px;
  white-space: nowrap;
}
#faq .help {
  width: 260px;
  float: right;
  background: #FFFFFF;
  text-align: center;
  height: 145px;
  border-left: 1px solid #e4e4e4;
}
#faq .help ul {
  width: 678px ;
  height: 135px ;
  overflow: hidden;
  float: left;
  font-size: 0;
  white-space: nowrap;
  padding: 0 0 10px 0;
  margin-left: 0;
}
#faq .help ul li {
  width: 79px !important;
}
#faq .help ul li h2 {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}
#faq .help ul li .weixin-img1 {
  width: 79px;
  height: 79px;
  display: block;
  background: url(../img/images/weixinimg1_03.png) no-repeat;
}
#faq .help ul li p {
  color: #000000;
  margin-top: 10px;
}
